html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.modal-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: 'Nunito', sans-serif;
}

.fa-solid {
  color: rgba(30, 80, 182, 0.958);
}
